<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091454301447-pinf712s1tb1mujf6j6r6i1l5d9fp6u2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091454301447-pinf712s1tb1mujf6j6r6i1l5d9fp6u2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1091454301447-umuqrvo6nonkds8026i5f35si03mr7pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE22d0zgKr3f1Tm_4PS0wyo8ajDPbhfIo</string>
	<key>GCM_SENDER_ID</key>
	<string>1091454301447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harbour</string>
	<key>PROJECT_ID</key>
	<string>harbour-39025</string>
	<key>STORAGE_BUCKET</key>
	<string>harbour-39025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091454301447:ios:e836010182ce4a09a2c1a2</string>
</dict>
</plist>